{% extends 'base.html.twig' %}

{% block title %}Preguntas activas{% endblock %}

{% block body %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
<div class="container">
    <h1>Preguntas activas</h1>

    <!-- Tabla personalizada -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Enunciado</th>
                
            </tr>
        </thead>
        <tbody>
            {% for pregunta in pagination %}
                <tr>
                    <td>{{ pregunta.id }}</td>
                    <td>{{ pregunta.enunciado }}</td>
                    <td>
                        
                     
                        <a href="{{ path('pregunta_show', {id: pregunta.id}) }}">show</a>
                       
                      
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No se encontraron preguntas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Controles de paginación -->
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}


